<main>
  <p style="color: green"><%= notice %></p>

  <h1>Movies</h1>
  <%= form_with(url: search_movies_path, method: :post, data:{controller: "movies", movies_target: "form"}) do |form| %>
    <%= form.search_field :search_params, placeholder: "Type in movie title to search", data: {action: "input->movies#search"} %>
  <% end %>

  <div id="search_results">
    <%= render "search_results"  %>
  </div>
  <hr/>
  <div id="movies">
    <p>
    <%== pagy_nav(@pagy) %>
    </p>
    <% @records.each do |movie| %>
      <%= render movie %>
      <p>
      <%= link_to "Show this movie", movie %>
      </p>
    <% end %>
    <p>
    <%== pagy_nav(@pagy) %>
    </p>
  </div>

  <%= link_to "New movie", new_movie_path %>
</main>
